###################################
# @file .gitignore
# @author Tomáš Daniel (xdanie14)
###################################

addresses.csv
DEXAddr/
virtenv/
plotenv/
coinmonenv/
__pycache__
.pytest_cache
data
Coinmon/
