{% extends "base.html" %}

{% block headerLeft %}
    <div class="col position-relative">
        <!-- Faculty logo -->
        <div id="facLogo" class="position-absolute" style="margin-top: 1.5em; width: 50%; display: block;">
        <a href="https://www.fit.vut.cz/.en" target="_blank">
            <img src="/static/graphics/VUTFIT_Logo.png" class="img-fluid">
        </a>
        </div>
    </div>
{% endblock %}

{% block headerRight %}
    <!-- Ongoing refresh (maintenance) -->
    <div id="refreshOn" style="padding-top: 20px; width: 40%; display: none;">
        <img src="/static/graphics/maintenanceOn.png" class="img-fluid">
    </div>
{% endblock %}

{% block mainLeft %}{% endblock %}

{% block mainCenter %}
    <div id="howItWorksText" class="row d-flex" style="display: block; margin-top: 5%;">
        <div class="col"></div>
        <!-- Text explaining basics of used heuristics -->
        <div class="col-md-4">
            <h3><i class="bi bi-person-raised-hand"></i> How this clustering actually works?</h3>
            <hr>
            Clustering heuristics used by this application is based on following principle.
            Whenever exchange user wants to deposit funds, exchange provides user-specific address
            where to send these funds, called <b>deposit address</b>. This address must be used
            consistently only for the same user, otherwise it would lead to false positives clusters. Now,
            whenever multiple addresses send their funds to the same deposit address, it's very likely
            these addresses are controlled by the same entity, how else would they know this deposit address, right?
            By making these assumptions, we cluster all these addresses based on used deposit address.
            Try by Yourself!
        </div>

        <!-- Explanatory image -->
        <div class="col-md-4" style="margin-top: 10%;">
            <img src="/static/graphics/DBScheme.png" class="img-fluid rounded">
        </div>
        <div class="col"></div>
    </div>
{% endblock %}

{% block graphCode %}{% endblock %}
