<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Ethereum Address Clustering</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- Bootstrap icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- ECharts -->
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.5.1/dist/echarts.min.js"></script>
    <!-- GridJS -->
    <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet"/>
    <!-- Favicon -->
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

    <!-- Styles -->
    <style>
      .btn-primary {
        /* Official FIT-blue color */
        background-color: #00ABE3;
        border: none;
      }
    </style>

    <!-- JavaScript -->
    <script>
      function showRangeValue(rangeElement) {
        // Get and update current value of range and update label
        document.getElementById("refreshLabel").innerText = "Refresh scope: " + rangeElement.value + " %";
      }

      function triggerMenu() {
        const form = document.getElementById("refreshForm");
        form.style.display = (form.style.display === "none") ? "block" : "none";
      }

      function triggerAboutText() {
        const text = document.getElementById("aboutText");
        text.style.display = (text.style.display === "none") ? "block" : "none";
      }

      async function submitRefreshRequest(event) {
        event.preventDefault();
        // Ensure "No address found" image is hidden
        document.getElementById("notFoundAddr").style.display = "none";
        // Show loading bar while we wait
        document.getElementById("loadSpinner").style.display = "block";
        // Extract current range value
        const rangeValue = document.getElementById("refeshScope").value;

        await fetch(`/refreshDB?refreshScope=${rangeValue}`, {
          method: "GET"
        });
        // Stop waiting/loading
        document.getElementById("loadSpinner").style.display = "none";
        // Clear URL afterwards
        window.history.replaceState({}, "", "/");
      }

      function exportJSON() {
        const json = JSON.stringify(data.map(row => row), null, 2);
        downloadFile("data.json", json);
      }

      function exportCSV() {
        const csv = data.map(row => row).join(",\n");
        downloadFile("data.csv", csv);
      }

      function downloadFile(filename, content) {
        const blob = new Blob([content], { type: "text/plain" });
        const link = document.createElement("a");
        link.href = URL.createObjectURL(blob);
        link.download = filename;
        link.click();
      }

      function copyDonateTextClipBoard() {
        navigator.clipboard.writeText("0x81E11145Fc60Da6ebD43eee7c19e18Ce9e21Bfd5")
          .then(() => {
            // Append it to existing element
            const element = document.getElementById("donateText");
            // Append success icon to text
            element.innerHTML = "✅" + element.innerHTML;

            // Remove info text after 1s
            setTimeout(() => {
              // Get substring effectively removing added green tick icon
              element.innerHTML = String(element.innerHTML).substring(1);
            }, 1000);
          });
      }
    </script>
  </head>
  <body>
    <!-- Main web-page content container -->
    <div class="container-fluid d-flex flex-column min-vh-100">
        <!-- Confirmation dialog -->
        <div class="modal fade" id="confirmRefresh" role="dialog">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm database refresh</h5>
                    <!-- Close dialog button -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    Performing database update will erase all currently stored values and will trigger re-clustering.
                    This action can take hours depending on selected scope.
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Abort</button>
                    <button type="button" class="btn btn-primary" onclick="submitRefreshRequest(event)">Proceed</button>
                </div>
            </div>
            </div>
        </div>
        <!-- First row: Count chart + search bar + menu -->
        <div class="row">
            <!-- Clustered addresses count -->
            <div class="col position-relative">
                <!-- Faculty logo -->
                <div id="facLogo" class="position-absolute" style="margin-top: 1.5em; width: 50%; display: block;">
                  <a href="https://www.fit.vut.cz/.en">
                    <img src="/static/VUTFIT_Logo.png" class="img-fluid">
                  </a>
                </div>

                <div id="resCharts" class="d-flex flex-column gap-3" style="display: none !important; width: fit-content; margin-top: 1.5em;">
                  <!-- Count of clustered addresses -->
                  <div class="card">
                    <div class="card-body d-flex">
                      <i class="bi bi-bounding-box-circles"></i>
                      <h6 id="addrCount" class="card-title">&nbsp;Addresses in cluster: </h6>
                    </div>
                  </div>
                  <!-- Amount of Ether used by cluster -->
                  <div class="card">
                    <div class="card-body d-flex">
                      <i class="bi bi-bank"></i>
                      <h6 id="usedEther" class="card-title">&nbsp;Transferred Ether by cluster: </h6>
                    </div>
                  </div>
                </div>
            </div>

            <!-- Search bar -->
            <div class="col-md-4 d-flex flex-column align-items-center">
                <h1 style="text-align: center; margin-top: 1em; margin-bottom: 1em;">
                    Ethereum Address Clustering
                </h1>

                <form id="searchForm" class="d-flex" style="width: 100%;" action="/search" method="get">
                    <input class="form-control me-2" type="search" placeholder="Enter Ethereum address" aria-label="Search" name="targetAddr" required pattern="^(0x|0X)[0-9A-Fa-f]{40}$">
                    <button class="btn btn-primary" type="submit" style="white-space: nowrap;">Search 🔎</button>
                </form>

                <!-- DB refresh spinner -->
                <div id="loadSpinner" class="spinner-border text-primary" role="status" style="display: none; margin-top: 1.5em;"></div>

                <!-- Address not found -->
                <div id="notFoundAddr" style="padding-top: 20px; width: 40%; display: none;">
                  <img src="/static/NotFoundImg.png" class="img-fluid">
                </div>
            </div>

            <!-- Menu -->
            <div class="col">
                <div class="d-flex justify-content-end" style="margin-top: 1.5em;">
                    <button class="btn btn-primary" onclick="triggerMenu()"><i class="fa fa-bars"></i> Menu</button>
                </div>

                <div class="d-flex justify-content-end">
                    <div id="refreshForm" style="display: none; width: 200px;">
                        <label id="refreshLabel" for="refeshScope" class="form-label">Refresh scope: 50 %</label>
                        <input type="range" class="form-range" min="1" max="100" step="1" value="50" id="refeshScope" onmousemove="showRangeValue(this)">
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmRefresh">Refresh Database</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Second row: Results table + graph -->
        <div class="row flex-grow-1">
            <!-- Results table -->
            <div class="col-md-3">
                <div id="exports" style="display: none; gap: 5px;">
                    <button class="btn btn-primary" onclick="exportJSON()">Export to JSON</button>
                    <button class="btn btn-primary" onclick="exportCSV()">Export to CSV</button>
                </div>
                <div id="data_table"></div>
            </div>

            <!-- Results graph -->
            <div class="col" style="padding-right: 10px;">
                <div id="container" style="height: 100%;"></div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="py-2 mt-auto">
          <div class="container">
            <!-- About text and button -->
            <div id="aboutText" class="alert alert-primary" style="width: 300px; display: none;">
              Created as part of a bachelor thesis at Brno University of Technology by <b>Tomáš Daniel</b>.
              Academic year 2024/25, supervised by Ing. Jan Zavřel.
            </div>

            <div class="row">
              <!-- Top row -->
              <div class="col d-flex justify-content-between">
                <button class="btn btn-warning" onclick="triggerAboutText()">About ℹ️</button>

                <!-- Donate text -->
                <div id="donateText" class="text-md-end mt-2">
                  Feel free to donate some Ether:&nbsp;<span style="cursor: pointer;" onclick="copyDonateTextClipBoard()"><b>0x81E11145Fc60Da6ebD43eee7c19e18Ce9e21Bfd5</b></span>❤️
                </div>
              </div>
            </div>

            <hr>
            <!-- Bottom row - contacts -->
            <div class="row justify-content-center">
              <div class="col-auto d-flex gap-3">
                <a href="https://www.linkedin.com/in/tom%C3%A1%C5%A1-daniel-b71724197/">
                  <i class="bi bi-linkedin fs-4"></i>
                </a>
                <a href="https://github.com/Dandys3900">
                  <i class="bi bi-github fs-4"></i>
                </a>
              </div>
            </div>
          </div>
        </footer>
    </div>

    {% if resultsList == "" or resultsGraph == "" %}
      <!-- Handle not found address -->
      <script type="text/javascript">
        // Keep faculty logo shown
        document.getElementById("facLogo").style.display = "block";
        // Show "No address found" image
        document.getElementById("notFoundAddr").style.display = "block";
      </script>
    {% elif resultsList and resultsGraph %}
      <script type="text/javascript">
        // Hide faculty logo and show count charts instead
        document.getElementById("facLogo").style.display = "none";

        //*********** List of clustered addresses ***********//
        // Get data from Python
        var listData = {{ resultsList | safe }};

        // Create results table
        var table = new gridjs.Grid({
          columns: ["Entity"],
          data: listData.map(value => [value]),
          pagination: {
              limit: 20
          },
          resizable: true,
          search   : true
        }).render(document.getElementById("data_table"));

        // Show export buttons
        document.getElementById("exports").style.display = "flex";

        //*********** Render graph for results ***********//
        // Get data from Python
        var graphData = {{ resultsGraph | safe }};
        // Create styling for each type of no`de
        let nodeStyles = {
          "exchange": 12,
          "deposit" : 10,
          "leaf"    : 8
        };

        let totalEtherAmount = 0.0;
        let graph = {
          nodes: graphData.nodes.map(node => ({
            ...node,
            symbolSize: nodeStyles[node.props.type],
            name      : node.id,
            value     : node.props,
            exchname  : node.props.name,
            category  : node.props.type
          })),
          links: graphData.edges.map(edge => {
              // Collect sum of all transferred Ether for cluster
              totalEtherAmount += parseFloat(edge.props.amount);
              return {
                  source: edge.src,
                  target: edge.dst,
                  amount: edge.props.amount
              };
          }),
          categories: ["exchange", "deposit", "leaf"].map(function (category) {
            return {
              name: category
            };
          })
        };

        // Display and fill result's charts
        document.getElementById("addrCount").innerText += table.config.data.length;
        document.getElementById("usedEther").innerText += Number(totalEtherAmount).toFixed(3);
        document.getElementById("resCharts").style.display = "block";

        // Wrap chart creation into timeout to ensure hosting element is created before chart
        setTimeout(function () {
          // Render nodes graph
          var addrChart = echarts.init(dom=document.getElementById("container"), opts={
            renderer: "canvas"
          });

          addrChart.setOption({
            tooltip: {
                trigger: "item",
                formatter: function (params) {
                    if (params.dataType === "edge")
                      return `Ether amount: ${Number(params.data.amount).toFixed(3)}`;
                    else // Node
                      return `${params.data.name}\nSource name: ${params.data.exchname}`;
                }
            },
            legend: [{
              data: ["exchange", "deposit", "leaf"]
            }],
            series: [{
              type      : "graph",
              layout    : "force",
              data      : graph.nodes,
              links     : graph.links,
              categories: graph.categories,
              roam      : true,
              label: {
                position: "right"
              },
              force: {
                repulsion: 0,
                friction : 0,
                gravity  : 0
              },
              lineStyle: {
                color: "source"
              }
            }]
          });

          // Add listener for web-page resize events
          window.addEventListener("resize", addrChart.resize);
        }, 100);
      </script>
    {% endif %}
  </body>
</html>
